<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
        <li><a style="cursor: pointer;" [routerLink]="['']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li><a style="cursor: pointer;" [routerLink]="['/products']">Products</a></li>
     <li class="active">Checkout Page</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<div class="checkout">
  <div class="container">
    <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span>3 Products</span></h3>
    <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
      <table class="timetable_sub">
        <thead>
          <tr>
            <th>SL No.</th>	
            <th>Product</th>
            <th>Quality</th>
            <th>Product Name</th>
            <th>Service Charges</th>
            <th>Price</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tr *ngFor="let p of cartItems" >
          <td class="invert">{{$index +1}}</td>
          <td class="invert-image"><a [routerLink]="['/product-detail']" [queryParams]="{ product: p.ProductId, size:p.SizeCode, color:p.ColorCode}" ><img src="assets/images/22.jpg" alt=" " class="img-responsive" /></a></td>
          <td class="invert">
             <div class="quantity"> 
              <div class="quantity-select">                           
                <div class="entry value-minus">&nbsp;</div>
                <div class="entry value"><span>{{p.Quantity}}</span></div>
                <div class="entry value-plus active">&nbsp;</div>
              </div>
            </div>
          </td>
          <td class="invert">{{p.ProductName}}</td>
          <td class="invert">$5.00</td>
          <td class="invert">$ {{p.TotalPrice}}</td>
          <td class="invert">
            <div class="rem">
              <div class="close1"> </div>
            </div>
            <script>$(document).ready(function(c) {
              $('.close1').on('click', function(c){
                $('.rem1').fadeOut('slow', function(c){
                  $('.rem1').remove();
                });
                });	  
              });
             </script>
          </td>
        </tr>
      </table>
    </div>
    <div class="checkout-left">	
      <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
        <h4>Continue to basket</h4>
        <ul>
          <li>Product1 <i>-</i> <span>$250.00 </span></li>
          <li>Product2 <i>-</i> <span>$290.00 </span></li>
          <li>Product3 <i>-</i> <span>$299.00 </span></li>
          <li>Total Service Charges <i>-</i> <span>$15.00</span></li>
          <li>Total <i>-</i > <span>$854.00</span></li>
        </ul>
      </div>
      <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
        <a style="cursor: pointer;" [routerLink]="['/products']"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //checkout -->